<!DOCTYPE HTML>
{% extends 'basic_app/base.html' %}
 {% block body_block %}
 <section class="core-rail">
    
    
  

  <div class="details">
    
  
      


<section class="profile">

 <section class="core-section-container core-section-container--with-border pp-section education" data-section="educationsDetails">    
    <h2 class="core-section-container__title">
      
Education

    </h2>


<!---->
<div class="core-section-container__content">

<ul class="education__list">
    





<li class="profile-section-card  education__list-item" data-id="549190271">
<a class="profile-section-card__full-card-link" href="https://ir.linkedin.com/school/cfa-institute-usa/?trk=public_profile_school_profile-section-card_full-click" data-tracking-control-name="public_profile_school_profile-section-card_full-click" data-tracking-will-navigate="">
  <span class="screen-reader-text">
CFA Institute
</span>
</a>

<div class="profile-section-card__contents">
<h3 class="profile-section-card__title">
  
CFA Institute

</h3>

  <h4 class="profile-section-card__subtitle">
      
  <span class="education__item education__item--degree-info">Passed CFA Level 1</span><!----><!---->      
  </h4>



<div class="profile-section-card__meta">
  
<p class="education__item education__item--duration">
  



<span class="date-range">
<time>2018</time> - Present<!---->      </span>

</p>

<!---->      
</div>
</div>


</li>


    





<li class="profile-section-card  education__list-item" data-id="406874297">
<a class="profile-section-card__full-card-link" href="https://ir.linkedin.com/school/khatamuniversity/?trk=public_profile_school_profile-section-card_full-click" data-tracking-control-name="public_profile_school_profile-section-card_full-click" data-tracking-will-navigate="">
  <span class="screen-reader-text">
Khatam University
</span>
</a>
  
<div class="profile-section-card__contents">
<h3 class="profile-section-card__title">
  
Khatam University

</h3>

  <h4 class="profile-section-card__subtitle">
      
  <span class="education__item education__item--degree-info">Master of Science (M.Sc.)</span><span class="education__item education__item--degree-info">Finance, General</span><!---->      
  </h4>



<div class="profile-section-card__meta">
  
<p class="education__item education__item--duration">
  



<span class="date-range">
<time>2013</time> - <time>2016</time><!---->      </span>

</p>

  <div class="education__item--details" data-section="educations">
<!---->              
<div class="show-more-less-text">
<p class="show-more-less-text__text--less">
Thesis :&lrm;<br>        - Measuring Systemic risk in Banking Sector<br>Articles : <br>        - &lrm;Measuring Systemic risk in Banking Sector <br>        - A survey on running CSR in Iran and ranking &lrm;the criteria<br>
</p>

<!---->    </div>

  </div>

</div>
</div>


</li>


    





<li class="profile-section-card  education__list-item" data-id="406871831">
<a class="profile-section-card__full-card-link" href="https://ir.linkedin.com/school/kharazmi-university/?trk=public_profile_school_profile-section-card_full-click" data-tracking-control-name="public_profile_school_profile-section-card_full-click" data-tracking-will-navigate="">
  <span class="screen-reader-text">
Kharazmi University
</span>
</a>
  


<div class="profile-section-card__contents">
<h3 class="profile-section-card__title">
  
Kharazmi University

</h3>

  <h4 class="profile-section-card__subtitle">
      
  <span class="education__item education__item--degree-info">Bachelor of Engineering (B.Eng.)</span><span class="education__item education__item--degree-info">Industrial Engineering</span><!---->      
  </h4>



<div class="profile-section-card__meta">
  
<p class="education__item education__item--duration">
  



<span class="date-range">
<time>2009</time> - <time>2013</time><!---->      </span>

</p>

  <div class="education__item--details" data-section="educations">
<!---->              
<div class="show-more-less-text">
<p class="show-more-less-text__text--less">
Thesis: &lrm;<br>     -  Choosing the best project control system standards &lrm;using AHP approach<br>
</p>

<!---->    </div>

  </div>

</div>
</div>


</li>


    





<li class="profile-section-card  education__list-item" data-id="654827561">
<a class="profile-section-card__full-card-link" href="https://ir.linkedin.com/school/iransampad/?trk=public_profile_school_profile-section-card_full-click" data-tracking-control-name="public_profile_school_profile-section-card_full-click" data-tracking-will-navigate="">
  <span class="screen-reader-text">
National Organization for Development of Exceptional Talents (Sampad)
</span>
</a>
  


<div class="profile-section-card__contents">
<h3 class="profile-section-card__title">
  
National Organization for Development of Exceptional Talents (Sampad)

</h3>

  <h4 class="profile-section-card__subtitle">
      
  <span class="education__item education__item--degree-info">High School Diploma</span><span class="education__item education__item--degree-info">Theoretical and Mathematical Physics</span><!---->      
  </h4>



<div class="profile-section-card__meta">
  
<p class="education__item education__item--duration">
  



<span class="date-range">
<time>2002</time> - <time>2009</time><!---->      </span>

</p>

<!---->      
</div>
</div>


</li>


</ul>

</div>
</section>


 {% endblock %}


