<!DOCTYPE HTML>
{% extends 'basic_app/base.html' %}
 {% block body_block %}
 <section class="core-rail">
    
    
  

  <div class="details">
    
  
      


<section class="profile">
 <section class="core-section-container core-section-container--with-border pp-section experience">
     <!---->
         
             <h2 class="core-section-container__title">
               
         Experience
       
             </h2>
         
     <!---->
       <div class="core-section-container__content">
         
         <ul class="experience__list">
               
     
     
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          
     <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/alopeyk?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Corporate Finance Analyst &amp; Chief Operating Officer
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/alopeyk?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         AloPeyk - On-demand Delivery for Iran
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>Sep 2019</time> - <time>Dec 2021</time><span class="date-range__duration">2 years 4 months</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         -Developing strategic plans and assessing company performance<br>-Overseeing the implementation of company strategies<br>-Managing the day-to-day operations and administrative functions of the firm<br>-Financial modeling &amp; making projections, budgeting, and forecasting<br>-Planning and monitoring &amp; analyzing variances <br>
       </p>
     
     </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
         <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/tsetmc?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Independent Stock Trader
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/tsetmc?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         Tehran Securities Exchange Technology Management Co. – TSETMC	 
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2015</time> - <time>Dec 2021</time><span class="date-range__duration">6 years</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - providing fundamental and technical analysis of &lrm;the Tehran securities exchange in order to make &lrm;trading decisions
       </p>
     
     <!---->    </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
     
     
               
     
     
     
     
     
     
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/sadad-informatic-corporation?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Senior Financial Analyst
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/sadad-informatic-corporation?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         Sadad Informatic Corporation
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>May 2019</time> - <time>Sep 2019</time><span class="date-range__duration">5 months</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Evaluating and analyzing banking and payment services commissions<br>- Providing financial models and doing feasibility studies<br>- Valuating startups and extracting optimal deal structures<br>- Managing deals and resolving commission-relate issues<br>- Contributing towards varied aspects of commissioning process
       </p>
     
     <!---->    </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
     
     
               
     
     
     
     
     
     
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/mcihub?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Senior Financial Analyst
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/mcihub?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         HUB Co.
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2017</time> - <time>May 2019</time><span class="date-range__duration">2 years</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Providing financial models and doing feasibility &lrm;studies<br>- Valuating startups and mature companies <br>- Extracting optimal deal structures<br>- Analyzing Financial statements<br><br>
       </p>
     
     <!---->    </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
     
     
               
     
     
     
     
     
     
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/tecvest-technology-investores-?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
       {% comment %} <img class="artdeco-entity-image artdeco-entity-image--square-4 profile-section-card__image lazy-loaded" data-ghost-classes="artdeco-entity-image--ghost" data-ghost-url="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d" alt="tecvest (Technology Investors) Graphic" aria-hidden="true" src="https://media-exp1.licdn.com/dms/image/C4D0BAQHAksf5W9xHXg/company-logo_100_100/0/1519931596373?e=1649289600&amp;v=beta&amp;t=xkhR6rVio5kbTWHCQKx4PlOgpdpJkbA6_aN_HmxJ9LU"> {% endcomment %}
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Financial Analyst
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/tecvest-technology-investores-?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         tecvest (Technology Investors)
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2015</time> - <time>2017</time><span class="date-range__duration">2 years</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Valuating startups and mature companies in &lrm;payment industry<br>- Optimizing portfolio<br>- Analyzing Financial statements<br>- Analyzing loan structures<br>
       </p>
     
     <!---->    </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
       
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          <a class="profile-section-card__image-link" href="https://ir.linkedin.com/company/razavi-brokerage-company?trk=public_profile_experience-item_profile-section-card_image-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_image-click" data-tracking-will-navigate="">
             
       <img class="artdeco-entity-image artdeco-entity-image--square-4 artdeco-entity-image--ghost profile-section-card__image lazy-loaded" data-ghost-classes="artdeco-entity-image--ghost" data-ghost-url="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d" alt="Razavi Brokerage Company Graphic" aria-hidden="true" src="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d">
     
           </a>
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Portfolio Analyst
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               <a class="profile-section-card__subtitle-link" href="https://ir.linkedin.com/company/razavi-brokerage-company?trk=public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-control-name="public_profile_experience-item_profile-section-card_subtitle-click" data-tracking-will-navigate="">
               
         Razavi Brokerage Company
       
               </a>
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2015</time> - <time>2015</time><span class="date-range__duration">less than a year</span>
       </span>
     
           </p>
     
           <p class="experience-item__location experience-item__meta-item">
             Tehran Province, Iran
           </p>
     
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Analyzing Tehran securities exchange stocks &lrm;fundamentally
       </p>
     
     <!---->    </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
     
     
               
     
     
     
     
     
     
     
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          
       <img class="artdeco-entity-image artdeco-entity-image--square-4 artdeco-entity-image--ghost profile-section-card__image lazy-loaded" data-ghost-classes="artdeco-entity-image--ghost" data-ghost-url="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d" alt="Imen Taghato consulting Graphic" aria-hidden="true" src="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d">
     
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Project Controller
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               
         Imen Taghato consulting
       
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2013</time> - <time>2015</time><span class="date-range__duration">2 years</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Controlling project progress using MSP and &lrm;Primavera<br>- Documenting ISO requirements<br>
       </p>
     
         </div>
     
           </div>
       
         </div>
       </div>
     
       
     </li>
        
     <li class="profile-section-card  experience-item" data-section="pastPositionsDetails">
     <!---->          
       <img class="artdeco-entity-image artdeco-entity-image--square-4 artdeco-entity-image--ghost profile-section-card__image lazy-loaded" data-ghost-classes="artdeco-entity-image--ghost" data-ghost-url="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d" alt="Arya Informatics Graphic" aria-hidden="true" src="https://static-exp1.licdn.com/sc/h/3dtfvv2esz58o2zimai1h3v2d">
     
     
       <div class="profile-section-card__contents">
         <h3 class="profile-section-card__title">
           
         Project Controller
       
         </h3>
     
           <h4 class="profile-section-card__subtitle">
               
         Arya Informatics
       
           </h4>
     
         
     
         <div class="profile-section-card__meta">
           
           <p class="experience-item__duration experience-item__meta-item">
             
     
     
     
       <span class="date-range">
     <time>2011</time> - <time>2013</time><span class="date-range__duration">2 years</span>
       </span>
     
           </p>
     
     <!---->
           <div class="experience-item__description experience-item__meta-item" data-section="pastPositions">
             
     <div class="show-more-less-text">
       <p class="show-more-less-text__text--less">
         - Controlling project progress using MSP
       </p>
     
         </div>
     
           </div>
       
         </div>
       </div>            
     </li>          
         </ul>
       
       </div>
     </section>

 {% endblock body_block %}



