<!DOCTYPE HTML>
{% extends 'basic_app/base.html' %}
 {% block body_block %}
 <section class="core-rail">
  


   <div class="details">





 <section class="profile">

   <section class="core-section-container core-section-container--with-border pp-section education" data-section="educationsDetails">


      <h1 class="core-section-container__title">

   Social Media

      </h1>

<div class="core-section-container__content">
  <p>Instagram: <a href="https://instagram.com/nasrin_krm?igshid=YmMyMTA2M2Y=">nasrin_krm </a></p>
  <p>Twitter: <a href="https://twitter.com/nasrin_krm?s=21">@nasrin_krm</a></p>
  <p>Telegram: <a href="https://t.me/Nas_Karimi">@Nas_Karimi</a></p>
</div>
</section>


 {% endblock body_block %}
